<ng-container *ngIf="chat">
    <div class="row">
        <div class="col">
            <h3>{{ chat.receiver.name }}</h3>
        </div>
    </div>
    <!-- <pre>{{ chat | json}}</pre> -->
    <div class="message-entry" *ngFor="let message of chat.messages">
        <mat-chip-list [ngClass]="message.sentByMe ? 'd-flex justify-content-end' : ''">
            <div *ngIf="message.sentByMe; else sentByOther">
                <mat-chip color="primary" selected>{{ message.value }}</mat-chip>{{ message.date | date:'shortTime' }}
            </div>
            <ng-template #sentByOther>
                {{ message.date | date:'shortTime' }}<mat-chip>{{ message.value }}</mat-chip>
            </ng-template>
        </mat-chip-list>
    </div>

    <form class="message-form" [formGroup]="messageForm" (keyup.enter)="sendMessage(messageForm.value.value)">
        <mat-form-field>
            <mat-label>{{ 'Type a message' }}</mat-label>
            <input matInput formControlName="value">
        </mat-form-field>
    </form>
</ng-container>